﻿h1 {
        text-align:center; 
        color:RGB(11,57,84)!important; 
        font-weight:700!important;
}
#backForm {
    background: RGB(11,57,84) !important;
    height:100%;
    width:100%;

}
h2 {
    font-weight:700!important;
    text-align:center;
    color:cadetblue !important;
}
h4{
    margin-top:20px!important;
    text-align:center;
    color:steelblue !important;
}
#checkboxes {
margin-top:30px!important;
}
#header {
    margin-left:40px!important;
    text-align: right !important;
    margin-right: -10px !important;
    color: steelblue !important;
}
.button-checkbox{
    margin-left:-10px!important;
}
#invoiceInfo{
    margin-left:30px!important;
    margin-top:15px!important;
}
#receiver{
    border-right: 1px solid white;
}
#LegalPerson_Name, #LegalPerson1_Name {
    max-width: 100%;
}
#legalPersons{
    border-top:1px solid white!important;
    padding-top:20px;
}
#PibMibDiv {
    margin-top: 15px !important;
    padding: 0px;
}
#adressesDiv {
    margin-top: 65px !important;
    padding: 0px;
}
#PersonalAccountBankDiv {
    margin-top: 15px !important;
    padding: 0px;
}
#NumbersDiv {
    margin-top: 15px !important;
    padding: 0px;
}
#websiteDiv {
    margin-top: 15px !important;
    padding:0;
}
#saveAll {
    width:100%!important; 
    height:50px;
}
#LegalPerson_Website{
    max-width:100%!important;
}
#buttonDiv {
    margin-top: 3% !important;
    margin-left:4%;
    padding: 0;
}
#alertDiv {
    margin-top: 1% !important;
}
#newDrop{
    margin-top:1%;
}
h5{
    text-align:center;
}
#fileDescription {
    text-align: center;
    margin-top:2%;
}