﻿#backFormUsers, #backFormConfirmPass, #backFormLogIn, #backFormRegister {
    margin-top: 15px;
    background: RGB(11,57,84) !important;
    height: 100% !important;
    width: 100% !important;
}

#users, #pass, #logging, #mailRegister {
    margin-top: 2%;
    margin-bottom: 30px;
}
#RoleId, #Password {
    max-width: 116% !important;
    width: 116% !important;
}
#userRole, #newPassDiv, #emailLogDiv, #mailRegisterDiv, #buttonsRegisterDiv {
    margin-top: 15px;
}
#userButtonsDiv{
    margin-top:15px;
}
#confirmPass, #buttonsConfirmPassDiv, #passLogDiv, #buttonsLoginDiv {
    margin-top: 15px;
}