﻿#backFormLegal {
    margin-top:15px;
    background: RGB(11,57,84) !important;
    height: 100% !important;
    width: 100% !important;
}
#Name{
    max-width:110%!important;
    width:110%!important;
}
#legalPerson {
    margin-top:2%;
}
#legalPibMibDiv {
    margin-top: 15px;
}
#PIB, #MIB{
    max-width: 100% !important;
}
#legalAdresses {
        margin-top: 15px;
}
#Email, #Address {
    max-width: 200% !important;
    width: 116% !important;
}
#legalNubersDiv{
    margin-top:15px;
}
#FaxNumber, #PhoneNumber{
    max-width:120%!important;
    width:107%!important;
}
#legalPesonalAccountBankDiv {
    margin-top: 15px;
}
#PersonalNumber, #BankCode{
    max-width:120%!important;
    width:110%!important;
}

#AccountNumber{
    max-width:120%!important;
    width:120%!important;
}
#legalWebsiteButtons{
    margin-top:15px;
    margin-bottom:50px;
}
#Website{
    max-width:170%!important;
    width: 165%!important;
}