﻿@model Fakturiska.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

@section Styles {
    <link href="@Url.Content("~/Content/ChangePasswordForm.css")" rel="stylesheet" type="text/css" />
}


<div id="backFormManage" class="col-md-12">

    <h2>Manage your account</h2>
    <h4>Change your account settings</h4>


    <div id="manageIndex" class="col-md-12">
        <div id="managePassDiv" class="col-md-12">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                [
                @if (Model.HasPassword)
            {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </div>
            <div class="col-md-4">

            </div>
                
           
        </div> 
    </div>

</div>
