﻿@model IEnumerable<Fakturiska.Business.Views.InvoiceBusinessView>

@{
    ViewBag.Title = "Invoices";
}
<div ng-app="InvoicesApp" ng-controller="MainController">
    <div id="dropzone">
        <div hidden class="alert alert-success alert-dismissable fade in">
            <strong>Success!</strong> This alert box could indicate a successful or positive action.
        </div>
        <div hidden class="alert alert-danger alert-dismissable fade in">
            <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
        </div>

        <p id="pNewButton">
            <button id="newButton" class="btn btn-default" onclick="location.href='@Url.Action("CreateInvoice", "Invoices")'">
                New Invoice <span class="glyphicon glyphicon-new-window"> </span>
            </button>
        </p>
        <p style="font-size:30px;" id="firstHeadline">New invoices</p>

        <div id="searchAndSelectDiv" class="col-md-12" style="padding-left:0">
            <div class="col-md-3" style="padding-left:0">
                <input id="searchNew" type="text" class="  search-query form-control" placeholder="Search" />
            </div>
            <div class="col-md-2">
                <select class="form-control" id="selectNew">
                    <option value="0">Invoice No.</option>
                    <option value="1">Creation Date</option>
                </select>
            </div>
        </div>

        <table id="newInvoices" cellspacing="0" style="width:100%" class="table table-hover table-striped collapsed">
            <thead id="blueThead">
                <tr>
                    <th>
                        Invoice No.
                    </th>
                    <th>
                        Creation Date
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Archive
                    </th>
                    <th>
                        Print
                    </th>
                    <th>
                        Delete
                    </th>
                    <th hidden></th>
                </tr>
            </thead>
            <tbody id="blueTbody">
                @foreach (var item in Model)
            {
                if (item.Archive == 0)
                {
                        <tr >
                            <td>
                                @Html.DisplayFor(modelItem => item.InvoicesID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                <button onclick="location.href='@Url.Action("EditInvoice", "Invoices", new { guid = item.GUID }, null)'" class="btn btn-default btn-lg"><span style="font-size:20px; color:RGB(0,81,140)" class="glyphicon glyphicon-edit"></span></button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default btn-lg" ng-click="openMArchive('@item.GUID')"><span style="font-size:20px; color:RGB(0,81,140);" class="glyphicon glyphicon-floppy-disk"></span></button>
                            </td>
                            <td>
                                <button onclick="location.href='@Url.Action("OpenFile", "Invoices", new { path = item.FilePath}, null)'" class="btn btn-default btn-lg"><span style="font-size:20px; color:RGB(0,81,140)" class="glyphicon glyphicon-print"></span></button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default btn-lg" ng-click="openMDelete('@item.GUID')"><span style="font-size:20px; color:RGB(0,81,140);" class="glyphicon glyphicon-trash"></span></button>
                            </td>
                            <td hidden>
                                <input id="@item.InvoicesID" value="@item.InvoicesID" hidden />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>



        <h1 id="archivedTitle">Search archived</h1>

        <div id="searchAndSelectDiv" class="col-md-12" style="padding-left:0">
            <div class="col-md-3" style="padding-left:0">
                <input id="searchArchived" type="text" class="  search-query form-control" placeholder="Search" />
            </div>
            <div class="col-md-2">
                <select class="form-control" id="selectArchived">
                    <option value="0">Invoice No.</option>
                    <option value="1">Creation Date</option>
                    <option value="2">Sum</option>
                    <option value="3">Invoice Estimate</option>
                    <option value="4">Invoce Total</option>
                    <option value="5">Incoming</option>
                    <option value="6">Paid</option>
                    <option value="7">Risk</option>
                    <option value="8">Priority ID</option>
                    <option value="9">Receiver ID</option>
                    <option value="11">Payer ID</option>
                    <option value="12">Payment Date</option>
                    <option value="13">User ID</option>
                </select>
            </div>
        </div>

        <table id="archivedInvoices" style="margin-top:50px; width:100%" cellspacing="0" class="table table-hover table-striped collapsed">
            <thead id="lightBlueThead">
                <tr>
                    <th>
                        Invoice No.
                    </th>
                    <th>
                        Creation Date
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sum)
                    </th>
                    <th>
                        Invoice Estimate
                    </th>
                    <th>
                        Invoice Total
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Incoming)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Paid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Risk)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PriorityId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RecieverId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PayerId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserID)
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Print
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody id="lightBlueTbody">
                @foreach (var item in Model)
            {
                if (item.Archive == 1)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.InvoicesID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sum)
                            </td>
                            @{
                                if (item.InvoiceEstimate)
                                {
                                    <td>
                                        <span class="glyphicon glyphicon-check"></span>
                                        <span hidden>Yes</span>
                                    </td>
                                }
                                else if (!item.InvoiceEstimate)
                                {
                                    <td>
                                        <span class="glyphicon glyphicon-unchecked"></span>
                                        <span hidden>No</span>
                                    </td>
                                }
                            }
                            @{
                                if (item.InvoiceTotal)
                                {
                                    <td>
                                        <span class="glyphicon glyphicon-check"></span>
                                        <span hidden>Yes</span>
                                    </td>
                                }
                                else if (!item.InvoiceTotal)
                                {
                                    <td>
                                        <span class="glyphicon glyphicon-unchecked"></span>
                                        <span hidden>No</span>
                                    </td>
                                }
                            }
                            @{
                                if (item.Incoming)
                                {
                                    <td>
                                        <span class="glyphicon glyphicon-check"></span>
                                        <span hidden>Yes</span>
                                    </td>
                                }
                                else if (!item.Incoming)
                                {
                                    <td>
                                        <span class="glyphicon glyphicon-unchecked"></span>
                                        <span hidden>No</span>
                                    </td>
                                }
                            }
                            @{
                                if (item.Paid)
                                {
                                    <td>
                                        <span class="glyphicon glyphicon-check"></span>
                                        <span hidden>Yes</span>
                                    </td>
                                }
                                else if (!item.Paid)
                                {
                                    <td>
                                        <span class="glyphicon glyphicon-unchecked"></span>
                                        <span hidden>No</span>
                                    </td>
                                }
                            }
                            @{
                                if (item.Risk)
                                {
                                    <td>
                                        <span class="glyphicon glyphicon-check"></span>
                                        <span hidden>Yes</span>
                                    </td>
                                }
                                else if (!item.Risk)
                                {
                                    <td>
                                        <span class="glyphicon glyphicon-unchecked"></span>
                                        <span hidden>No</span>
                                    </td>
                                }
                            }
                            @{
                                if (item.PriorityId == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Priority.Description)
                                    </td>
                                }
                            }
                            @{
                                if (item.RecieverId == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RecieverName)
                                    </td>
                                }
                            }
                            @{
                                if (item.PayerId == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PayerName)
                                    </td>
                                }
                            }
                            @{
                                if (item.PaymentDate == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PaymentDate)
                                    </td>
                                }
                            }

                            <td>
                                @Html.DisplayFor(modelItem => item.User.Email)
                            </td>
                            <td>
                                <button onclick="location.href='@Url.Action("EditInvoice", "Invoices", new { guid = item.GUID }, null)'" class="btn btn-default btn-lg"><span style="font-size:20px; color:RGB(0,81,140);" class="glyphicon glyphicon-edit"></span></button>
                            </td>
                            <td>
                                <button onclick="location.href='@Url.Action("OpenFile", "Invoices", new { path = item.FilePath }, null)'" class="btn btn-default btn-lg"><span style="font-size:20px; color:RGB(0,81,140);" class="glyphicon glyphicon-print"></span></button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default btn-lg" ng-click="openMDelete('@item.GUID')"><span style="font-size:20px; color:RGB(0,81,140);" class="glyphicon glyphicon-trash"></span></button>
                            </td>
                        </tr>
                                    }
                                }
            </tbody>
        </table>

        <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <p class="modal-title">Warning!</p>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to {{selected_action}} invoice?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" ng-click="deleteItem(selected_item, selected_action)">Yes</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div hidden id="archiveDeletePath"> @Url.Action("Invoices", "Invoices") </div>
        <div hidden id="deletePath"> @Url.Action("GetLegalPersonDetails", "LegalPersons") </div>

    </div>
</div>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/jquery-1.12.4.js" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" />

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.0/js/dataTables.responsive.min.js" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.0/js/responsive.bootstrap.min.js" />

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/af-2.2.0/fh-3.1.2/r-2.1.1/sc-1.4.2/se-1.2.2/datatables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/af-2.2.0/fh-3.1.2/r-2.1.1/sc-1.4.2/se-1.2.2/datatables.min.js"></script>

@section InvoiceSection{
<script>
    var archiveDeletePath = document.getElementById('archiveDeletePath').innerText;

    var app = angular.module('InvoicesApp', []);
    app.controller('MainController', function ($scope) {

        $scope.openMDelete = function (obj) {
            $('#deleteModal').modal("show");
            $scope.selected_item = obj;
            $scope.selected_action = "delete";
        }

        $scope.deleteItem = function (obj, txt) {
            console.log(obj);
            $('#deleteModal').modal("hide");
            if (txt === "delete") {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteInvoice", "Invoices")',
                    data: ({ 'guid': obj }),
                    success: (response) => {
                        window.location.href = archiveDeletePath;
                    },
                    error: function (err) {
                        alert(err.responseText);
                    }
                })
            }
            else {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ArchiveInvoice", "Invoices")',
                    data: ({ 'guid': obj }),
                    success: (response) => {
                        window.location.href = archiveDeletePath;
                    },
                    error: function (err) {
                        alert(err.responseText);
                    }
                })

            }

        }

        $scope.openMArchive = function (obj) {
            $('#deleteModal').modal("show");
            $scope.selected_item = obj;
            $scope.selected_action = "archive";
        }
    });

    $(document).ready(function () {
        
        var table;
        $(document).ready(function () {
            table = $('#newInvoices').DataTable({
                "columnDefs": [{
                    "targets": 1,
                    "orderable": false
                },
                {
                    "targets": 2,
                    "orderable": false
                },
                {
                    "targets": 3,
                    "orderable": false
                },
                {
                    "targets": 4,
                    "orderable": false
                },
                {
                    "targets": 5,
                    "orderable": false
                },
                ],
                "order": [[0, "desc"]],
                bFilter: true,
                dom: '<"top">t<"bottom"p><"clear">',
                
            });



            $('#searchNew').on('keyup change', function () {
                
                if (table.search() !== this.value || this.value == "") {

                    
                    table
                        .columns($('#selectNew').val())
                        .search(this.value)
                        .draw();
                }
            });

            $('#selectNew').change(function () {
                $('#searchNew').val("");
                table
                    .columns()
                    .search("")
                    .draw();
            });
        });

    });

    $(document).ready(function () {
        var table;
        table = $('#archivedInvoices').DataTable({
            ordering: false,
            bFilter: true,
            dom: '<"top">t<"bottom"p><"clear">',
            
            
        });
        

        $('#searchArchived').on('keyup change', function () {
            if (table.search() !== this.value || this.value == "") {
                table
                    .columns($('#selectArchived').val())
                    .search(this.value)
                    .draw();
            }
        });

        $('#selectArchived').change(function () {
            $('#searchArchived').val("");
            if ($('#selectArchived').val() > 2 && $('#selectArchived').val() < 8)
            {
                $('#searchArchived').attr("placeholder", "Type Yes or No");
            }
            else
            {
                $('#searchArchived').attr("placeholder", "Search");
            }
            table
                .columns()
                .search("")
                .draw();
        });
    });

    (function () {
        var droped = document.getElementById('dropzone');


        var upload = function (files) {
            var fileData = new FormData();
            var cont = 0;
            $('.alert-success').hide();
            $('.alert-danger').hide();
            for (var i = 0; i < files.length; i++)
            {
                if (files[i].name.endsWith(".pdf")) {
                    $('.alert-success').text("Successfully added file: " + files[i].name);
                    $('.alert-success').show();
                    cont = 1;
                }
                else if (files[i].name.endsWith(".jpg"))
                {
                    $('.alert-success').text("Successfully added file: " + files[i].name);
                    $('.alert-success').show();
                    cont = 1;
                }
                else if (files[i].name.endsWith(".jpeg"))
                {
                    $('.alert-success').text("Successfully added file: " + files[i].name);
                    $('.alert-success').show();
                    cont = 1;
                }
                else if (files[i].name.endsWith(".png"))
                {
                    $('.alert-success').text("Successfully added file: " + files[i].name);
                    $('.alert-success').show();
                    cont = 1;
                }
                else {
                    $('.alert-danger').text("File extension is not supported!");
                    cont = 0;
                    $('.alert-danger').show();
                    delete files[i];
                }
                var body = $('html');
                body.css("opacity", "1");
                event.preventDefault();
            }
            if (cont === 1) {

                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                $.ajax({
                    url: '@Url.Action("Upload", "Invoices")',
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: fileData,
                    success: function (result) {
                        window.location.href = result;
                    },
                    error: function (err) {
                        alert(err.responseText);
                    }
                });
            }
        }

        dropzone.ondrop = function (e) {
            e.preventDefault();
            this.className = 'dropzone';
            console.log(e.dataTransfer.files)
            upload(e.dataTransfer.files)
        };

        dropzone.ondragover = function () {
            this.className = 'dropzone dragover';
            var body = $('html');
            body.css("background-color", "black");
            body.css("opacity", "0.5");
            event.preventDefault();
            return false;
        };

        dropzone.ondragleave = function () {
            this.className = 'dropzone';
            var body = $('html');
            body.css("opacity", "1");
            event.preventDefault();
            return false;
        };
    })();


</script>
}