﻿@model Fakturiska.Business.Views.LegalPersonsBusinessView

@{
    ViewBag.Title = "EditLegalPerson";
}
@section Styles {
    <link href="@Url.Content("~/Content/CreateLegalPersonForm.css")" rel="stylesheet" type="text/css" />
}
<style>
    .invalid {
        border: 1px solid red;
    }

    .modal {
        padding-right: 700px !important;
        position: fixed !important;
    }

    .modal-body {
        background-color: RGB(0,81,140);
    }

    .modal-content {
        background-color: RGB(0,81,140);
    }

    .modal-footer {
        margin: 0;
        background-color: RGB(0,81,140);
    }

    .modal-header {
        background-color: RGB(0,81,140);
    }

    .modal-title {
        background-color: RGB(0,81,140);
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    @Html.HiddenFor(model => model.LegalPersonsID)
    @Html.HiddenFor(model => model.DeleteDate)
    @Html.HiddenFor(model => model.GUID)


    <div id="backFormLegal" class="col-md-12">
        <h2>Edit Legal person</h2>
        <h4>Please enter some information about Legal person</h4>
        <h5>Name, PIB and MIB fields are required.</h5>


        <div id="legalPerson" class="col-md-12">
            <div id="legalNameDiv" class="col-md-12">
                <div class="col-md-2">

                </div>
                <div class="col-md-1" style="padding-left:0; padding-right:0">
                    <button disabled class="btn btn-default">
                        <i class="glyphicon glyphicon-user"></i>
                    </button>
                </div>
                <div class="col-md-7" style="padding-left:0; margin-left:-4%">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name", @data_toggle = "tooltip", @title = "Name" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">

                </div>
            </div>
            <div id="legalPibMibDiv" class="col-md-12">
                <div class="col-md-2">

                </div>
                <div class="col-md-4" style="padding-left:0">
                    @Html.EditorFor(model => model.PIB, new { htmlAttributes = new { @class = "form-control", @placeholder = "PIB", @data_toggle = "tooltip", @title = "PIB" } })
                    @Html.ValidationMessageFor(model => model.PIB, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4" style="margin-left:15px">
                    @Html.EditorFor(model => model.MIB, new { htmlAttributes = new { @class = "form-control", @placeholder = "MIB", @data_toggle = "tooltip", @title = "MIB" } })
                    @Html.ValidationMessageFor(model => model.MIB, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">

                </div>
            </div>
            <div id="legalAdresses" class="col-md-12">
                <div class="col-md-2">

                </div>
                <div class="col-md-1" style="padding-left:0; padding-right:0">
                    <button disabled class="btn btn-default">
                        <i class="glyphicon glyphicon-envelope"></i>
                    </button>
                </div>
                <div class="col-md-3" style="padding-left:0; margin-left:-4%">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mail address", @data_toggle = "tooltip", @title = "Mail address" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-1" style="padding-right:0; padding-left:0; margin-left:7%">
                    <button disabled class="btn btn-default">
                        <i class="glyphicon glyphicon-home"></i>
                    </button>
                </div>
                <div class="col-md-3" style="margin-left:-5%">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address", @data_toggle = "tooltip", @title = "Address" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">

                </div>
            </div>
            <div id="legalNubersDiv" class="col-md-12">
                <div class="col-md-2">

                </div>
                <div class="col-md-3" style="padding-left:0;">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone number", @data_toggle = "tooltip", @title = "Phone number" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2" style="padding-right:0; padding-left:7%">
                    <button disabled class="btn btn-default">
                        <i class="glyphicon glyphicon-phone-alt"></i>
                    </button>
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.FaxNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Fax number", @data_toggle = "tooltip", @title = "Fax number" } })
                    @Html.ValidationMessageFor(model => model.FaxNumber, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">

                </div>
            </div>
            <div id="legalPesonalAccountBankDiv" class="col-md-12">
                <div class="col-md-2">

                </div>
                <div class="col-md-2" style="padding-left:0; ">
                    @Html.EditorFor(model => model.PersonalNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Personal number", @data_toggle = "tooltip", @title = "Personal number" } })
                    @Html.ValidationMessageFor(model => model.PersonalNumber, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-md-2" style="padding-left:0">
                    @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Account number", @data_toggle = "tooltip", @title = "Account number" } })
                    @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-md-2">
                    @Html.EditorFor(model => model.BankCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Bank code", @data_toggle = "tooltip", @title = "Bank code" } })
                    @Html.ValidationMessageFor(model => model.BankCode, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">

                </div>
            </div>
            <div id="legalWebsiteButtons" class="col-md-12">
                <div class="col-md-2">

                </div>
                <div class="col-md-1" style="padding-left:0">
                    <button disabled class="btn btn-default">
                        <i class="glyphicon glyphicon-globe"></i>
                    </button>
                </div>
                <div class="col-md-1" style="padding-left:0; margin-left:-4%">
                    @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control", @placeholder = "Website address", @data_toggle = "tooltip", @title = "Website address" } })
                    @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-1" style="margin-left:5%; padding-right:0">
                    <input id="RealSaveLegal" type="submit" value="Save" class="btn btn-primary" />
                    <input type="button" onclick="Save()" value="Save" class="btn btn-primary" />
                </div>
                <div class="col-md-1" style="margin-left:1%;">
                    <input type="submit" value="Back" class="btn btn-default" onclick="history.go(-1)" />
                </div>
                <div class="col-md-2">

                </div>
            </div>
        </div>


    </div>

  
}


<div id="errorModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="modal-title">Warning!</p>
            </div>
            <div class="modal-body">
                <p>All fields are required!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div id="changeModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="modal-title">Warning!</p>
            </div>
            <div class="modal-body">
                <p>Changing Name, PIB or MIB of existing Legal person is not allowed!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


<script>
      $(document).ready(function () {

          $('#RealSaveLegal').hide();
          var oldName = $('#Name').val();
          var oldPIB = $('#PIB').val();
          var oldMIB = $('#MIB').val();

          Save = function () {
              var condition = 0;
              var condition1 = 0;

              if ($('#Name').val() === "") {
                  $('#Name').addClass('invalid');
                  if (condition === 0) {
                      condition = 1;
                  }
              }

              if ($('#PIB').val() === "") {
                  $('#PIB').addClass('invalid');
                  if (condition === 0) {
                      condition = 1;
                  }
              }

              if ($('#MIB').val() === "") {
                  $('#MIB').addClass('invalid');
                  if (condition === 0) {
                      condition = 1;
                  }
              }
              if ($('#Email').val() === "") {
                  $('#Email').addClass('invalid');
                  if (condition === 0) {
                      condition = 1;
                  }
              }

              if ($('#Address').val() === "") {
                  $('#Address').addClass('invalid');
                  if (condition === 0) {
                      condition = 1;
                  }
              }

              if ($('#PhoneNumber').val() === "") {
                  $('#PhoneNumber').addClass('invalid');
                  if (condition === 0) {
                      condition = 1;
                  }
              }

              if ($('#FaxNumber').val() === "") {
                  $('#FaxNumber').addClass('invalid');
                  if (condition === 0) {
                      condition = 1;
                  }
              }

              if ($('#PersonalNumber').val() === "") {
                  $('#PersonalNumber').addClass('invalid');
                  if (condition === 0) {
                      condition = 1;
                  }
              }

              if ($('#AccountNumber').val() === "") {
                  $('#AccountNumber').addClass('invalid');
                  if (condition === 0) {
                      condition = 1;
                  }
              }

              if ($('#BankCode').val() === "") {
                  $('#BankCode').addClass('invalid');
                  if (condition === 0) {
                      condition = 1;
                  }
              }

              if ($('#Website').val() === "") {
                  $('#Website').addClass('invalid');
                  if (condition === 0) {
                      condition = 1;
                  }

              }

              if ($('#Name').val() != oldName)
              {
                  $("#Name").addClass('invalid');
                  if (condition1 === 0)
                      condition1 = 1;
              }
              if ($('#PIB').val() != oldPIB) {
                  $("#PIB").addClass('invalid');
                  if (condition1 === 0)
                      condition1 = 1;
              }
              if ($('#MIB').val() != oldMIB) {
                  $("#MIB").addClass('invalid');
                  if (condition1 === 0)
                      condition1 = 1;
              }

              if (condition1 === 1)
              {
                  $('#changeModal').modal("show");
                  if (condition === 1)
                      $('#errorModal').modal("show");
              }
              else if (condition === 0 && condition1 === 0) {
                  $('#RealSaveLegal').click();
              }
              else {
                  $('#errorModal').modal("show");
              }
          }

          $("#Name").on('change keyup copy paste cut', function () {
              $("#Name").removeClass('invalid');
          });
          $("#PIB").on('change keyup copy paste cut', function () {
              $("#PIB").removeClass('invalid');
          });
          $("#MIB").on('change keyup copy paste cut', function () {
              $("#MIB").removeClass('invalid');
          });
          $("#Email").on('change keyup copy paste cut', function () {
              $("#Email").removeClass('invalid');
          });
          $("#Address").on('change keyup copy paste cut', function () {
              $("#Address").removeClass('invalid');
          });
          $("#PhoneNumber").on('change keyup copy paste cut', function () {
              $("#PhoneNumber").removeClass('invalid');
          });
          $("#FaxNumber").on('change keyup copy paste cut', function () {
              $("#FaxNumber").removeClass('invalid');
          });
          $("#PersonalNumber").on('change keyup copy paste cut', function () {
              $("#PersonalNumber").removeClass('invalid');
          });
          $("#AccountNumber").on('change keyup copy paste cut', function () {
              $("#AccountNumber").removeClass('invalid');
          });
          $("#BankCode").on('change keyup copy paste cut', function () {
              $("#BankCode").removeClass('invalid');
          });
          $("#Website").on('change keyup copy paste cut', function () {
              $("#Website").removeClass('invalid');
          });
    });
</script>