﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/MyStyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/ChangePasswordForm.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CreateUserForm.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CreateLegalPersonForm.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/CreateInvoiceForm.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body >
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Fakturiska", "Index", "Home", new { area = "" }, new { @style = " font-weight:700", @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Admin"))
                    {
                        <li id="aa">@Html.ActionLink("Invoices", "Invoices", "Invoices", new { @style = "color:thistle" }, null)</li>
                        <li id="aa">@Html.ActionLink("Legal Persons", "LegalPersons", "LegalPersons", new { @style = "color:thistle" }, null)</li>
                        <li id="aa">@Html.ActionLink("Users", "Users", "Users", new { @style = "color:thistle" }, null)</li>
                    }
                    else if (User.IsInRole("User"))
                    {
                        <li id="aa">@Html.ActionLink("Invoices", "Invoices", "Invoices", new { @style = "color:thistle" }, null)</li>
                        <li id="aa">@Html.ActionLink("Legal Persons", "LegalPersons", "LegalPersons", new { @style = "color:thistle" }, null)</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
     
        <footer>
            <p id="myFooter">&copy; @DateTime.Now.Year - INGSoftware_ Application</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dropzone")
    @Scripts.Render("~/bundles/angular")
    @Styles.Render("~/Content/themes/base/css")
    @RenderSection("scripts", required: false)
    @RenderSection("Neko", required: false)
    @RenderSection("InvoiceSection", required: false)
    @RenderSection("NekoEdit", required: false)
    @RenderSection("UserScript", required: false)

    
</body>
</html>
