﻿@model Fakturiska.Business.Views.UsersBusinessView

@{
    ViewBag.Title = "CreateUser";
}
@section Styles {
    <link href="@Url.Content("~/Content/CreateUserForm.css")" rel="stylesheet" type="text/css" />
}
<style>
    .invalid {
        border: 1px solid red;
    }

    .modal {
        padding-right: 700px !important;
        position: fixed !important;
    }

    .modal-body {
        background-color: RGB(0,81,140);
    }

    .modal-content {
        background-color: RGB(0,81,140);
    }

    .modal-footer {
        margin: 0;
        background-color: RGB(0,81,140);
    }

    .modal-header {
        background-color: RGB(0,81,140);
    }

    .modal-title {
        background-color: RGB(0,81,140);
    }
</style>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.UsersID)
    @Html.HiddenFor(model => model.Password)
    @Html.HiddenFor(model => model.DeleteDate)
    @Html.HiddenFor(model => model.GUID)

    <div id="backFormUsers" class="col-md-12">
        <h2>Create new User</h2>
        <h4>Please enter some information about User</h4>
        <h5>All fields are required.</h5>

        <div id="users" class="col-md-12">
            <div id="userMail" class="col-md-12">
                <div class="col-md-4">

                </div>
                <div class="col-md-4 input-group" >
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mail address", @data_toggle = "tooltip", @title = "Mail address" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4">

                </div>
            </div>
            <div id="userRole" class="col-md-12">
                <div class="col-md-4">

                </div>
                <div class="col-md-4 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.DropDownListFor(model => model.RoleId, (System.Collections.Generic.List<System.Web.Mvc.SelectListItem>)ViewBag.Roles, "-- Select Role --", new { @style = "color:RGB(0,81,140);", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4">

                </div>
            </div>
            <div id="userButtonsDiv" class="col-md-12">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                        
                    </div>
                </div>
                <div class="col-md-4" style="margin-left:-3%;">
                    <input id="RealSaveUser" type="submit" value="Create" class="btn btn-primary" />
                    <input type="button" onclick="SaveUser()" value="Create" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    </div>

}
<div id="errorModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="modal-title">Warning!</p>
            </div>
            <div class="modal-body">
                <p>All fields are required!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {

        $('#RealSaveUser').hide();

        SaveUser = function () {
            var condition = 0;

            if ($('#Email').val() === "") {
                $('#Email').addClass('invalid');
                if (condition === 0) {
                    condition = 1;
                }
            }

            if ($('#RoleId').val() === "") {
                $('#RoleId').addClass('invalid');
                if (condition === 0) {
                    condition = 1;
                }
            }

            if (condition === 0) {
                 $('#RealSaveUser').click();
            }
            else {
                $('#errorModal').modal("show");
                console.log($('#RoleId').val());
            }
        }

        $("#Email").on('change keyup copy paste cut', function () {
            $("#Email").removeClass('invalid');
        });
        $("#RoleId").on('change keyup copy paste cut', function () {
            $("#RoleId").removeClass('invalid');
        });
       

    });
</script>