﻿@model Fakturiska.Business.Views.UsersBusinessView

@{
    ViewBag.Title = "EditUser";
}
@section Styles {
    <link href="@Url.Content("~/Content/CreateUserForm.css")" rel="stylesheet" type="text/css" />
}
<style>
    .invalid {
        border: 1px solid red;
    }

    .modal {
        padding-right: 700px !important;
        position: fixed !important;
    }

    .modal-body {
        background-color: RGB(0,81,140);
    }

    .modal-content {
        background-color: RGB(0,81,140);
    }

    .modal-footer {
        margin: 0;
        background-color: RGB(0,81,140);
    }

    .modal-header {
        background-color: RGB(0,81,140);
    }

    .modal-title {
        background-color: RGB(0,81,140);
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Email)
    @Html.HiddenFor(model => model.Password)
    @Html.HiddenFor(model => model.GUID)
    @Html.HiddenFor(model => model.OldRole)
    @Html.HiddenFor(model => model.Email)
    @Html.HiddenFor(model => model.Email)
    @Html.HiddenFor(model => model.Email)
    @Html.HiddenFor(model => model.Email)


    <div id="backFormUsers" class="col-md-12">
        <h2>Edit User</h2>
        <h4>Please enter new Role for User</h4>

        <div id="users" class="col-md-12">
            <div id="userMail" class="col-md-12">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <p style="text-align:center"> &nbsp; @Model.Email</p>
                </div>
                <div class="col-md-4">

                </div>
            </div>
            <div id="userRole" class="col-md-12">
                <div class="col-md-4">

                </div>
                <div class="col-md-4 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.DropDownListFor(model => model.RoleId, (System.Collections.Generic.List<System.Web.Mvc.SelectListItem>)ViewBag.Roles, new { @style = "color:RGB(0,81,140);", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4">

                </div>
            </div>
            <div id="userButtonsDiv" class="col-md-12">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
                <div class="col-md-4" style="margin-left:-7%;">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <input type="submit" value="Back" class="btn btn-default" onclick="history.go(-1)" />
                </div>
            </div>
        </div>
    </div>


    
}