﻿@model IEnumerable<Fakturiska.Business.Views.UsersBusinessView>

@{
    ViewBag.Title = "Users";
}

<div ng-app="UsersApp" ng-controller="MainUserController">
    <p id="pNewButton">
        <button id="newButton" class="btn btn-default" onclick="location.href='@Url.Action("CreateUser", "Users",null)'">
            New User <span class="glyphicon glyphicon-new-window"> </span>
        </button>
    </p>
    <p style="font-size:30px;" id="firstHeadline">Users</p>
    <div id="searchAndSelectDiv" class="col-md-12" style="padding-left:0">
        <div class="col-md-3" style="padding-left:0">
            <input id="searchNew" type="text" class="search-query form-control" placeholder="Search" />
        </div>
        <div class="col-md-2">
            <select class="form-control" id="selectNew">
                <option value="0">User ID</option>
                <option value="1">E-mail</option>
                <option value="2">Role</option>         
            </select>
        </div>
    </div>
    <table id="userTable" style="font-weight:700;  width:100%" cellspacing="0" class="table table-hover table-striped collapsed">
        <thead id="blueThead">
            <tr>
                <th >
                    @Html.DisplayNameFor(model => model.UsersID)
                </th>
                <th >
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th >
                    @Html.DisplayNameFor(model => model.RoleName)
                </th>
                <th >
                    Edit
                </th>
                <th >
                    Delete
                </th>
            </tr>
        </thead>
        <tbody id="blueTbody">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UsersID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleName)
                    </td>
                    <td>
                        <button onclick="location.href='@Url.Action("EditUser", "Users", new { guid = item.GUID })'" class="btn btn-default btn-lg"><span style="font-size:20px; color:RGB(0,81,140)" class="glyphicon glyphicon-edit"></span></button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-lg" ng-click="openMDelete('@item.GUID')"><span style="font-size:20px; color:RGB(0,81,140);" class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <p class="modal-title">Warning!</p>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to {{selected_action}} user?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="deleteItem(selected_item, selected_action)">Yes</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div hidden id="deletePath"> @Url.Action("Users", "Users") </div>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/af-2.2.0/fh-3.1.2/r-2.1.1/sc-1.4.2/se-1.2.2/datatables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/af-2.2.0/fh-3.1.2/r-2.1.1/sc-1.4.2/se-1.2.2/datatables.min.js"></script>

@section UserScript{
    <script>
        var deletePath = document.getElementById('deletePath').innerText;
        var app = angular.module('UsersApp', []);
        app.controller('MainUserController', function ($scope) {

            $scope.openMDelete = function (obj) {
                $('#deleteModal').modal("show");
                $scope.selected_item = obj;
                $scope.selected_action = "delete";
            }

            $scope.deleteItem = function (obj, txt) {
                console.log(obj);
                $('#deleteModal').modal("hide");
                if (txt === "delete") {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("DeleteUser", "Users")',
                        data: ({ 'guid': obj }),
                        success: (response) => {
                            window.location.href = deletePath;
                        },
                        error: function (err) {
                            alert(err.responseText);
                        }
                    })
                }

            }

        });

        $(document).ready(function () {

            var table;
            $(document).ready(function () {
                table = $('#userTable').DataTable({
                    ordering: false,
                    bFilter: true,
                    dom: '<"top">t<"bottom"p><"clear">',
                });



                $('#searchNew').on('keyup change', function () {

                    if (table.search() !== this.value || this.value == "") {
                        table
                            .columns($('#selectNew').val())
                            .search(this.value)
                            .draw();
                    }
                });

                $('#selectNew').change(function () {
                    $('#searchNew').val("");
                    table
                        .columns()
                        .search("")
                        .draw();
                });
            });
        });

    </script>
}